# ========= DATASET =========

# 忽略 dataset 下的图像数据
dataset/train/
dataset/test/

# 明确保留 dataset 文件夹下的代码
!dataset/
!dataset/*.py

# 忽略所有位置的图片文件
*.jpg
*.jpeg
*.png

# ========= PYTHON CACHE =========
__pycache__/
*.pyc
*.pyo
*.pyd

# ========= JUPYTER CACHE =========
.ipynb_checkpoints/

# ========= MODEL WEIGHTS =========
*.pt
*.pth
*.ckpt

# ========= ENVIRONMENT =========
.env
*.log
*.DS_Store

# ========= IDE / SYSTEM CONFIG =========
.vscode/
.idea/
*.swp
Thumbs.db
